#imageCanvas {
	max-width: 800px;
	max-height: 600px;
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	display: block;
	margin: 20px auto;
	border-radius: 4px;
	cursor: crosshair;
}

#downloadBtn {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

#downloadBtn:disabled {
	background-color: #999;
	cursor: not-allowed;
}

#retouchOptions {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #1d1e20;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}
